<!DOCTYPE html>
<html>
<head>
<style>
	.hour, .grid, .time{
		height: 25px;
		top: 450px;
		line-height: 50px;
		table{
		  border: 1px solid black;
		}
	body{
		margin-left: 10%;
		}
	}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<script>

	$( document ).ready(function(){
	
	    $('td.nameClass').on('click',function(){
	    	console.log('클릭');
	    	
	    	//클릭한 요소의 아이디를 변수에 저장합니다
	    	var clicked_name = $(this).attr('id');
	    	//클릭한 과목의 과목코드를 변수에 저장합니다
	    	var subjectCode = $('#'+clicked_name).children('.codeClass').html();
	    	
	    	 $.ajax({
	             url:'/addSubject'
	             ,type: 'POST'
	             ,dataType:'json'
	             ,data: { code : subjectCode}
	             ,success:function(result){
	                console.log('성공');
	            	var result = result[0];
	            	
	            		//1~2학점은  주 2시간의 수업을 진행. 3학점은 주2시간x2회 총4시간 수업 진행
	            	 	for(var i = 0; i<result.time.length; i++){
	            	 		console.log('for문실행');
	            	 		console.log(result.time[i]);
	            	 		$('#'+result.time[i]).html(result.name+'('+result.professor+')<br>'+result.classroom);
	            		} 
	             }
	         })
	    });
	});
</script>
<body>
	<!-- 시간표 -->
	<div class="tablehead" style="width: 538px;">
		tablehead 부분
	</div>
	<div class="tablebody table-responsive"> 
		<table class="tablebody table table-bordered">
			<tbody>
				<tr class="table-warning">
					<td class="hour table-warning">교시/요일</td>
					<td class="grid">월요일</td>
					<td class="grid">화요일</td>
					<td class="grid">수요일</td>
					<td class="grid">목요일</td>
					<td class="grid">금요일</td>
					<td class="time">시간</td>
				</tr>
				
				<tr>
				  <td class="hour">1교시</td>
					<td class="grid" id="M1">a</td>
					<td class="grid" id="T1">b</td>
					<td class="grid" id="W1">c</td>
					<td class="grid" id="TH1">d</td>
					<td class="grid" id="F1">e</td>
					<td class="time">오전9시</td>
				</tr>	
				
				<tr>
					<td class="hour">2교시</td>
					<td class="grid" id="M2"></td>
					<td class="grid" id="T2"></td>
					<td class="grid" id="W2"></td>
					<td class="grid" id="TH2"></td>
					<td class="grid" id="F2"></td>
         			<td class="time">오전10시</td>
				</tr>
				
				<tr>
					<td class="hour">3교시</td>
					<td class="grid" id="M3"></td>
					<td class="grid" id="T3"></td>
					<td class="grid" id="W3"></td>
					<td class="grid" id="TH3"></td>
					<td class="grid" id="F3"></td>
					<td class="time">오전11시</td>
				</tr>	
				
				<tr>
					<td class="hour">4교시</td>
					<td class="grid danger" id="M4"></td>
					<td class="grid" id="T4"></td>
					<td class="grid" id="W4"></td>
					<td class="grid" id="TH4"></td>
					<td class="grid" id="F4"></td>
					<td class="time">오후12시</td>
				</tr>
				
				<tr>
					<td class="hour">5교시</td>
					<td class="grid" id="M5"></td>
					<td class="grid" id="T5"></td>
					<td class="grid" id="W5"></td>
					<td class="grid" id="TH5"></td>
					<td class="grid" id="F5"></td>
					<td class="time">오후1시</td>

				</tr>	
					
				<tr>
				  <td class="hour">6교시</td>
					<td class="grid" id="M6"></td>
					<td class="grid" id="T6"></td>
					<td class="grid" id="W6"></td>
					<td class="grid" id="TH6"></td>
					<td class="grid" id="F6"></td>
					<td class="time">오후2시</td>
        </tr>
			  
			  <tr>
			    <td class="hour">7교시</td>
  				<td class="grid" id="M7"></td>
  				<td class="grid" id="T7"></td>
  				<td class="grid" id="W7"></td>
  				<td class="grid" id="TH7"></td>
  				<td class="grid" id="F7"></td>
  				<td class="time">오후3시</td>
				</tr>	
				
				 <tr>
			    <td class="hour">8교시</td>
  				<td class="grid" id="M8"></td>
  				<td class="grid" id="T8"></td>
  				<td class="grid" id="W8"></td>
  				<td class="grid" id="TH8"></td>
  				<td class="grid" id="F8"></td>
  				<td class="time">오후4시</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- 개설강좌 검색 -->
	<div class="subjects" style="display: block;">
		<form class="search">
			<h2>분류에 따른 수업검색</h2>
			<ol class="selectType" style="width: 100%; height: 220px;">
				<li>공통교양</li>
				<li>선택교양</li>
				<li>전공공통</li>
				<li>전공필수</li>
				<li>전공선택</li>
				<li>자유선택</li>
			</ol>
			<ol class="selectDep" style="width: 0%; height: 220px;"></ol>
			<div class="keyword">
				<ul class="key">
					<li class="active">과목명</li>
					<li>담당교수</li>
				</ul>
				<input type="text" name="keyword" placeholder="검색어로 수업검색">
				<input type="submit" class="option" value="검색">
			</div>
		</form>
		
		<!-- 개설강좌 리스트/검색결과 -->
		<div class="list" style="width: 700px;">
			<table>
				<thead>
					<tr>
						<th>과목명</th>
						<th>주당수업횟수</th>
						<th>학점</th>
						<th>분반</th>
						<th>강의실</th>
						<th>담당교수</th>
						<th>시간</th>
						<th>이수구분</th>
						<th>상세구분</th>
					</tr>
				</thead>
				<tbody>
					#foreach($list in $subject)
					<tr>	
						<td class="codeClass" id="subjectCode$velocityCount" style="display:none;">$list.getCode()</td>
						<td class="nameClass" id="subjectName$velocityCount"><div class="codeClass" style="display: none;">$list.getCode()</div>$list.getName()</td>
						<td>$list.getNoPerWeek()</td>
						<td>$list.getCredit()</td>
						<td>$list.getGroup()</td>
						<td>$list.getClassroom()</td>
						<td>$list.getProfessor()</td>
						<td>
						#foreach($time in $list.getTime())
							<div class="subjectTime">$time</div>
						#end
						</td>
						<td>$list.getType()</td>
						<td>$list.getTypeDetail()</td> 
					</tr>
					#end
				</tbody>
			</table>
		</div>
		
		
		
		
		
			
	<script>
        $(document).ready(function(){
          $('#college').on('change', function(){
            alert(this.value);
            var selectedCollege = this.value;
            
            $.ajax({
              url : "/searchDepartments",
              dataType : "json",
              type : "post",
              data : {selectedCollege : selectedCollege},
              success: function(data) {
                  alert("성공 :"+data);
              },
              error:function(){
                  alert("erro");
              }
			}); 
        });
        
        });
        
      </script>  
      
      <select id="college">
        <option>::선택::</option>
        <option value="공과대학">공과대학</option>
        <option value="자연과학대학">자연과학대학</option>
        <option value="인문사회과학대학">인문사회과학대학</option>
        <option value="경영대학">경영대학</option>
        <option value="환경·해양대학">환경·해양대학</option>
        <option value="수산과학대학">수산과학대학</option>
      </select>

      <select>
        <option>국제지역학부</option>
        <option>경영학부</option>
        <option>전자공학과</option>
        <option>해양학과</option>
        <option>정보통신공학과</option>
        <option>조선해양시스템공학과</option>
        <option>지구환경과학과</option>
        <option>공간정보시스템공학과</option>
        <option>환경공학과</option>
        <option>제어계측공학과</option>
        <option>IT융합응용공학과</option>
        <option>의공학과</option>
        <option>국어국문학과</option>
        <option>정치외교학과</option>
        <option>유아교육과</option>
        <option>신문방송학과</option>
        <option>사학과</option>
        <option>경제학부</option>
        <option>시스템경영공학부</option>
        <option>에너지자원공학과</option>
        <option>전기공학과</option>
        <option>컴퓨터공학과</option>
        <option>건축학과</option>
        <option>건축공학과</option>
        <option>토목공학과</option>
        <option>기계공학과</option>
        <option>안전공학과</option>
        <option>금속공학과</option>
        <option>소방공학과</option>
        <option>재료공학과</option>
        <option>신소재시스템공학과</option>
        <option>국어국문학과</option>
        <option>영어영문학과</option>
        <option>일어일문학부</option>
        <option>생태공학과</option>
        <option>행정학과</option>
        <option>법학과</option>
        <option>신문방송학과/option>
        </option>
        <option>정치외교학과</option>
        <option>시각디자인학과</option>
        <option>공업디자인학과</option>
        <option>패션디자인학과</option>
        <option>응용수학과</option>
        <option>통계학과</option>
        <option>물리학과</option>
        <option>화학과</option>
        <option>미생물학과</option>
        <option>국제통상학부</option>
      </select>
    </div>
  </body>
</body>

</html>
