<!DOCTYPE html>
<html>
<style>
	.hour, .grid, .time{
		height: 25px;
		top: 450px;
		line-height: 50px;
	}

</style>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- 시간표 -->
	<div class="tablehead" style="width: 538px;">
		tablehead 부분
	</div>
	<div class="tablebody">
		<table class="tablebody">
			<tbody>
				<tr>
					<th>
						<div class="hours">
							<div class="hour">교시/요일</div>
							<div class="hour">1교시</div>
							<div class="hour">2교시</div>
							<div class="hour">3교시</div>
							<div class="hour">4교시</div>
							<div class="hour">5교시</div>
							<div class="hour">6교시</div>
							<div class="hour">7교시</div>
							<div class="hour">8교시</div>
						</div>
					</th>
					<td>
						<div class="cols"></div>
						<div class="grids" style="margin-left: 10px;">
							<div class="grid">월요일</div>
							<div class="grid">a</div>
							<div class="grid">b</div>
							<div class="grid">c</div>
							<div class="grid">d</div>
							<div class="grid">e</div>
							<div class="grid">f</div>
							<div class="grid">g</div>
							<div class="grid">h</div>
						</div>
					</td>
					<td>
						<div class="cols" style="width: 68px;"></div>
						<div class="grids" style="margin-left: 10px;">
							<div class="grid">화요일</div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
						</div>
					</td>
					<td>
						<div class="cols" style="width: 68px;"></div>
						<div class="grids">
							<div class="grid">수요일</div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
						</div>
					</td>
					<td>
						<div class="cols" style="width: 68px;"></div>
						<div class="grids">
							<div class="grid">목요일</div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
						</div>
					</td>
					<td>
						<div class="cols" style="width: 68px;"></div>
						<div class="grids">
							<div class="grid">금요일</div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
						</div>
					</td>
					<td style="display: none;">
						<div class="cols" style="width: 69px;"></div>
						<div class="grids">
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
						</div>
					</td>
					<td style="display: none;">
						<div class="cols" style="width: 69px;"></div>
						<div class="grids">
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
							<div class="grid"></div>
						</div>
					</td>
					<th>
						<div class="times">
							<div class="time">오전9시</div>
							<div class="time">오전10시</div>
							<div class="time">오전11시</div>
							<div class="time">오후12시</div>
							<div class="time">오후1시</div>
							<div class="time">오후2시</div>
							<div class="time">오후3시</div>
							<div class="time">오후4시</div>
						</div>
					</th>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- 개설강좌 검색 -->
	<div class="subjects" style="display: block;">
		<form class="search">
			<h2>분류에 따른 수업검색</h2>
			<ol class="selectType" style="width: 100%; height: 220px;">
				<li>공통교양</li>
				<li>선택교양</li>
				<li>전공공통</li>
				<li>전공필수</li>
				<li>전공선택</li>
				<li>자유선택</li>
			</ol>
			<ol class="selectDep" style="width: 0%; height: 220px;"></ol>
			<div class="keyword">
				<ul class="key">
					<li class="active">과목명</li>
					<li>담당교수</li>
				</ul>
				<input type="text" name="keyword" placeholder="검색어로 수업검색">
				<input type="submit" class="option" value="검색">
			</div>
		</form>
		
		<!-- 개설강좌 리스트/검색결과 -->
		<div class="list" style="width: 700px;">
			<table>
				<thead>
					<tr>
						<th>과목명</th>
						<th>주당수업횟수</th>
						<th>학점</th>
						<th>분반</th>
						<th>강의실</th>
						<th>담당교수</th>
						<th>시간</th>
						<th>이수구분</th>
						<th>상세구분</th>
					</tr>
				</thead>
				<tbody>s
					#foreach($test in $subject)
					<tr>	
						<td>$test.getName()</td>
						<!-- <td>$test.getNoPerWeek()</td>
						<td>$test.getCredit()</td>
						<td>$test.getGroup()</td>
						<td>$test.getClassroom()</td>
						<td>$test.getProfessor()</td>
						<td>$test.getTime()</td>
						<td>$test.getType()</td>
						<td>$test.getTypeDetail()</td> -->
					</tr>
					#end
				</tbody>
			</table>
		</div>	
	</div>
</body>
</html>